body {
  background-color: #dae1e7;
  font-family: "Raleway", sans-serif;
  color: #071e3d;
}

form {
  margin: 25px;
}

a {
  color: #3f72af;
}

.card-weather {
  background-color: #d6e6f2;
  border: 2px solid #00909e;
  border-radius: 15px;
  max-width: 700px;
  margin: 50px auto;
}

.card-header {
  border-bottom: 1px solid #00909e;
  background-color: #27496d;
  color: #dbe2ef;
}

.card-header:first-child {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.btn {
  padding: 0.375rem 3.75rem;
  color: #769fcd;
  border-color: #769fcd;
  background-color: #f7fbfc;
}

.WeatherInfo {
  margin: 50px;
}

h1 {
  text-align: left;
}

.default-subtitle {
  font-weight: 300;
  text-align: left;
}

.WeatherForecast {
  margin: 30px 10px;
}

.current-temperature {
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.temp-type {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.current-icon {
  font-size: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  text-align: left;
}

.forecast-day {
  padding: 10px;
  font-weight: 600;
}

.forecast-icon {
  font-size: 32px;
}

.forecast-temp {
  padding: 10px;
}

.card-footer {
  background-color: #27496d;
  color: #dbe2ef;
  font-weight: 300;
  border-top: 1px solid #769fcd;
}

.card-footer:last-child {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
